.header {
  @apply flex py-[41px];
  @apply text-[20px] leading-[24px];

  &__nav {
    @apply px-[60px];
  }

  &__link {
    @apply flex items-center gap-3;
  }

  &__button {
    @apply w-full;
    @apply p-1;
    @apply bg-white;
    @apply text-left;

    &.m-active {
      @apply bg-[#8DD6FF];
    }
  }
}
