.modal-table {
  box-shadow: 0 0 0 1px #dbe2ea;
  @apply rounded-md;

  &__head {
    @apply border-b border-borderColor;
  }

  &__body {
  }

  &__cell {
    @apply text-textGray;
    @apply text-[11px];
    @apply leading-[13px];
    @apply p-2;
    @apply border-borderColor;
    @apply border-r;
    @apply last-of-type:border-r-0;
  }
}
