.table {
  @apply border border-borderColor rounded-md;

  &__head,
  &__body {
    @apply w-full;
    @apply grid;
    @apply grid-cols-[54px,124px,164px,90px,71px,91px,79px,63px,63px,50px,58px,55px,55px,35px,36px,139px];
  }

  &__cell {
    @apply text-textGray;
    @apply text-[11px];
    @apply leading-[13px];
    @apply p-2;
    @apply border-borderColor;
    @apply border-r;
  }
}
